.head h1 {
    font-family: var(--font-bold);
    text-align: center;
    color: #000;
}

.animation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.personal h3 {
    font-family: var(--font-semi);
    text-align: center;
    color: #000;

}

.btns {
    text-align: center;
    margin-top: 30px;
}

.btns button {
    border: none;
    outline: none;
    padding: 10px 40px;
    font-family: var(--font-regular);
    font-weight: 600;
    background: linear-gradient(90deg, #8195FF, #B3ACFF);
    color: #fff;
    border-radius: 10px;
}