.main {
  margin-left: 350px;
  padding: 140px 200px;
}

.btn {
  position: relative;
}

.btn button {
  padding: 10px 50px;
  position: absolute;
  right: 0;
  top: 20px;
  border: none;
  background-color: var(--sideBar-bg);
  color: #fff;
  font-family: var(--font-regular);
  border-radius: 12px;
}
@media (max-width:1024px) {
  .main {
    margin-left: 350px;
    padding: 140px 60px;
  }
}
@media (max-width:786px) {
  .main{
    margin-left: 260px;
    padding: 140px 20px;
    min-height: 100vh;
  }
}
@media (max-width:425px) {
  .main {
    margin-left: 0;
    padding: 10px;
  }
}