.inp {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  background-color: var(--form-bg);
  border: none;
  outline: none;
  padding: 20px 10px;
  border-radius: 10px;
  font-family: var(--font-regular);
}

label {
  text-transform: capitalize;
  font-family: var(--font-regular);
}

select {
  width: 100%;
  padding: 20px 10px;
  border: none;
  outline: none;
  background-color: var(--form-bg);
  border-radius: 10px;
  font-family: var(--font-regular);
  margin-bottom: 30px;
  text-transform: capitalize;
}


p {
  margin-bottom: 0;
}

.phto {
  position: relative;
  padding-top: 45px;
  
}
.phto h3{
  font-family: var(--font-semi);
  font-size: 20px !important;
}
.takingPhoto {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 30px;
}
.btn{
  float: right;
}